<div class="container">
	<h1>Lista de Contratos</h1>
	<p>Aquí la lista de contratos</p>
	
	<h23>Vaesa</h2>
	<%= image_tag 'vaesa_logo.jpg', class: 'image-styler' %>
	<div class="contract-box">
		<h3>Contrato 1</h3>
		<p>Aquí va la breve descripción del contrato</p>
		<div class="icon-box">
			<%= image_tag 'pdf.png' %>
			<p><a href="#">Descargar<a/>
		</div>
		<div class="icon-box">
			<%= image_tag 'docx.png' %>
			<p><a href="#">Desargar<a/>	
		</div>
	</div>
	<div class="contract-box">
		<h3>Contrato 2</h3>
		<p>Aquí va la breve descripción del contrato</p>
		<div class="icon-box">
			<%= image_tag 'pdf.png' %>
			<p><a href="#">Desargar<a/>
		</div>
		<div class="icon-box">
			<%= image_tag 'docx.png' %>
			<p><a href="#">Desargar<a/>	
		</div>
	</div>
	
	<div class="line-divider"></div>

	<h2>Dream</h2>
	<%= image_tag 'dream_logo.jpg', class: 'image-styler' %>

	<div class="contract-box">
		<h3>Contrato 3</h3>
		<p>Aquí va la breve descripción del contrato</p>
		<div class="icon-box">
			<%= image_tag 'pdf.png' %>
			<p><a href="#">Desargar<a/>
		</div>
		<div class="icon-box">
			<%= image_tag 'docx.png' %>
			<p><a href="#">Desargar<a/>	
		</div>
	</div>
	<div class="contract-box">
		<h3>Contrato 4</h3>
		<p>Aquí va la breve descripción del contrato</p>
		<div class="icon-box">
			<%= image_tag 'pdf.png' %>
			<p><a href="#">Desargar<a/>
		</div>
		<div class="icon-box">
			<%= image_tag 'docx.png' %>
			<p><a href="#">Desargar<a/>	
		</div>
	</div>
</div>